<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SprawdzVAT.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <SprawdzVAT.Properties.Settings>
            <setting name="SprawdzVAT_statusService_WeryfikacjaVAT" serializeAs="String">
                <value>https://sprawdz-status-vat.mf.gov.pl</value>
            </setting>
        </SprawdzVAT.Properties.Settings>
    </applicationSettings>
</configuration>